<% @title = "Showing course" %>

<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @course.name %></span>
    </div>
  </div>
  
  <div class="form-actions">
    <%= link_to icon_tag("pencil") + ' Edit', edit_course_path(@course), class: 'btn btn-primary' %>
    <%= link_to 'Back', courses_path, class: 'btn' %>
  </div>
</div>

